<div class="jumbotron">
<h1>witaj w oglądarce koszulin</h1>
<p>tylko tu kupisz znane: "moja matka to świnia"</p>
<%= link_to "koszuliny", "#", class: "btn btn-primary btn-block" %>
<%= link_to "zapiska", new_user_registration_path, class: "btn btn-primary btn-block" %>
</div>
