<div class="col-md-3">
<div class="thumbnail">
<%= link_to shirt_path(shirt) do %>
<%= image_tag shirt.image, class: "img-responsive" %>
<% end %>

<div class="caption">
<h3><%= link_to shirt.inscription, shirt_path(shirt) %></h3>
<p><%= shirt.price  %></p>
</div>
</div>
</div>
